# Temp files
~$*
*~
.directory

# Build results
*.cmake
bin/*
!bin/*.md
obj/*
!obj/*.md
*.o
*.gch

# User-specific files
*.user

#CLion files
.idea/*
Supprimerait cmake-build-debug/
Supprimerait exemple.cpp
Supprimerait tests/exemple.cpp
Supprimerait tests/fichier_de_test.ez
Supprimerait tests/julia.cpp
Supprimerait tests/person.cpp
